[Unit]
Description=Node.js Server for Scorebord
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/default/html/scorebord
ExecStart=/usr/bin/env node server.js
Restart=on-failure
User=gjvanouwendorp
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
